{% extends 'base.html' %}

{% block content %}

<div class="panel panel-default">
  	<div class="panel-body">
  		
  		<h1>A-1</h1>

  		<div id='slider' class='swipe'>
      		<div class='swipe-wrap'>
                <div> 
                    <p style="color:#bbb">1/5</p>
                    <br />
                    <p>현재 실학은 대체로 ‘성리학의 이념 논쟁을 극복하고 근대 사회를 지향했던 조선 후기의 진보적 사상’이라고 이해된다. 그런데 이런 상식적 정의의 이면에는 다른 문제가 포함되어 있다. 사람들이 실학이라는 이름으로 끌어내고자 하는 무언가가 있었기 때문이다. 근현대학자들이 조선 후기의 학풍을 실학이라고 정의하고 주목했던 데에는 실학에서 ‘우리 스스로 근대화할 수 있는 힘’을 찾으려는 의도가 깔려있다. <u>㉮어떤 학자들은</u> 실학을 봉건 지형을 뚫고 올라온 근대적인 사상이라고 파악하고 외세의 침략 같은 다른 외적인 요인들이 아니었다면 실학을 통해 우리 스스로가 근대화를 이룰 수 있었을 것이라고 생각했다. 이런 생각이 크게 잘못된 것은 아니다. 그러나 이런 측면을 지나치게 부각할 경우 문제가 생길 수 있다.</p>
                </div>
                <div>
                    <p style="color:#bbb">2/5</p>
                    <br />
                    <p>먼저 지적할 것은 지나치게 이전 학문과의 불연속을 강조하면 문제가 일어날 수 있다는 점이다. 이전의 학문이란 성리학 내지는 유학을 말한다. 물론 조선 후기의 사상적 흐름은 기존의 조선 성리학과는 다른 것이었다. 조선 성리학이 지나치게 이론적 공박을 펼치느라 현실의 문제를 등한시했고 이에 따른 반동으로 실학이 나타났다는 평가도 크게 틀리지 않다. 그러나 이들이 모두 과거의 학문을 극복해야 할 ‘적’으로 생각했다는 것은 옳은 평가가 아니다. 성리학적 논쟁에 빠져서 사회 변화에 대처하지 못하는 풍토에 대해서는 경계하고 비판했지만 이들이 자기가 성장한 토양을 완전히 부정하고 새로운 사상을 시도했다고 볼 수는 없다.</p>
                </div>
                <div>
                    <p style="color:#bbb">3/5</p>
                    <br />
                    <p>조선 후기에 활동했던 이른바 실학자들은 대부분 유학의 경전에서 시대를 바꿀 힘을 찾았다. 청나라에서 들어온 고증학과 서학도 이들에게 큰 충격과 영향을 주었지만 궁극적으로 이들의 토대가 된 것은 고대 유학이었다. 결과적으로 이들은 유학의 전제들을 바탕으로 다양한 분야를 연구했다는 점에서 유학을 비판적으로 계승해 시대의 요구에 부응하고자 했던 사람들이라고 할 수 있다. 더 나아가 실학자들이 모두 근대적이고 진보적이었다고 보는 것도 무리가 있다. 실학자로 분류되는 학자들 중에는 보수적이고 복고적인 성향을 보이는 경우도 많다.</p>
                </div>
                <div>
                    <p style="color:#bbb">4/5</p>
                    <br />
                    <p>조선 후기의 학풍이 성리학을 넘어서려 했다는 점은 사실이다. 많은 학자들이 개방적이고 진보적인 태도로 자기 전통을 극복하고자 했고 새로운 세계관을 활용하고자 했다. 이들은 진취적으로 근대적인 가치를 향해 생각을 바꿔 나갔다. 그러나 그것이 자기 전통과의 완전한 단절을 의미하지는 않는다. <u>㉯어떤 학자들은</u> 실학자들이 거부했던 것은 고답적인 조선의 성리학적 분위기, 또는 오직 주희만을 숭상하는 경직된 ‘주자학’이었지 유학이라는 학문적 토대 전체는 아니었다고 평가하기도 한다. 어떤 학문도 자기가 성장한 토대와 전제를 완전히 거부하거나 부정할 수는 없는 것이 현실이다.</p>
                </div>
                <div>
                    <p style="color:#bbb">5/5</p>
                    <br />
                    <p>이처럼 실학은 복합적인 요인과 다양한 학자들이 만들어 낸 스펙트럼이기 때문에 단편적으로만 이해하면 도리어 조선 후기의 사상적 의의와 풍요로움을 놓칠 수 있다. 이런 파(派)니 저런 파니 하면서 실학을 억지로 일정한 도식에 넣어 이론을 정당화하기보다는 각 사상가들의 주장을 들어 보고 그들이 진짜 원했던 것이 무엇인지를 따져 보는 것이 실학을 제대로 이해하는 올바른 길일 것이다.</p>
                </div>
      			
                <div>
                    <form method="POST">
          				<p><b>1. 윗글의 논지로 가장 적절한 것은?</b></p>
          				<div class="radio">
                          <label>
                            <input type="radio" name="answer_a1_1" id="optionsRadios1-1" value="1">
                            (1) 실학자들이 지녔던 혁신적 자세를 계승해야 한다.
                          </label>
                        </div>
                        <div class="radio">
                          <label>
                            <input type="radio" name="answer_a1_1" id="optionsRadios1-2" value="2">
                            (2) 실학에 미친 유학과 서학의 영향을 함께 고려해야 한다.
                          </label>
                        </div>
                        <div class="radio">
                          <label>
                            <input type="radio" name="answer_a1_1" id="optionsRadios1-3" value="3">
                            (3) 실학이 봉건 사회를 근대화한 주체적 학문임을 자부해야 한다.
                          </label>
                        </div>
                        <div class="radio">
                          <label>
                            <input type="radio" name="answer_a1_1" id="optionsRadios1-4" value="4">
                            (4) 실학에 대한 획일적 시각에서 벗어나 다채로운 면모를 살펴야 한다.
                          </label>
                        </div>
                        <div class="radio">
                          <label>
                            <input type="radio" name="answer_a1_1" id="optionsRadios1-5" value="5">
                            (5) 실학이 자기 전통의 완전한 부정을 통해 건설되었음을 명심해야 한다.
                          </label>
                        </div>
    					
                        <br />

    					<p><b>2. ㉮, ㉯의 견해를 비교한 내용으로 가장 적절한 것은?</b></p>
    					<div class="radio">
                          <label>
                            <input type="radio" name="answer_a1_2" id="optionsRadios2-1" value="1">
                            (1) ㉮에 비해 ㉯는 실학자들의 자주적 정신을 부각하고 있다.
                          </label>
                        </div>
                        <div class="radio">
                          <label>
                            <input type="radio" name="answer_a1_2" id="optionsRadios2-2" value="2">
                            (2) ㉯에 비해 ㉮는 실학과 이전 시대의 차별성을 강조하고 있다.
                          </label>
                        </div>
                        <div class="radio">
                          <label>
                            <input type="radio" name="answer_a1_2" id="optionsRadios2-3" value="3">
                            (3) ㉮, ㉯ 모두 실학이 유학을 계승하고 있음을 부각하고 있다.
                          </label>
                        </div>
                        <div class="radio">
                          <label>
                            <input type="radio" name="answer_a1_2" id="optionsRadios2-4" value="4">
                            (4) ㉮, ㉯ 모두 실학이 외전인 요소들에 의해 제약되었음을 강조하고 있다.
                          </label>
                        </div>
                        <div class="radio">
                          <label>
                            <input type="radio" name="answer_a1_2" id="optionsRadios2-5" value="5">
                            (5) ㉮는 실학의 전통적 측면에, ㉯는 실학의 진보적 측면에 초점을 맞추고 있다.
                          </label>
                        </div>
    					
                        <button type="submit" class="btn btn-primary">다음지문보기</button>
                    </form>
          		</div>
                

      		</div>
      	</div>

      	<p>
		    <button type="button" class="btn btn-default" onclick="mySwipe.prev()">이전</button>
		    <button type="button" class="btn btn-default" onclick="mySwipe.next()">다음</button>
		</p>
	</div>
</div>


{% endblock %}

{% block extra_footers %}
    <link href="{{ url_for('static', filename='swipe_style.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='Swipe/swipe.js') }}"></script>
    <script type="text/javascript">
    window.mySwipe = new Swipe(document.getElementById('slider'), {
      startSlide: 0,
      speed: 400,
      continuous: false,
      disableScroll: false,
      stopPropagation: false,
      callback: function(index, elem) {},
      transitionEnd: function(index, elem) {}
    });
    </script>

{% endblock %}
