{% extends 'base.html' %}

{% block content %}

<div class="panel panel-default">
  	<div class="panel-body">
  		
  		<h1>A-3</h1>

  		<div id='slider' class='swipe'>
      		<div class='swipe-wrap'>

      			<div> 
      			
                <p> 전 생애에 걸친 인간의 심리 사회적 발달을 여덟 단계로 나눈 에릭슨(Erikson)에 의하면 청소년기는 ‘자아 정체감 대 역할 혼미’의 단게로, 급격한 성장과 변화 때문에 특수 발달 과제를 갖게 되는 시기이다. 생물학적으로 볼 때 청소년기는 신체적, 성적 성숙이 급격하게 일어나는 시기이며, 이는 자아가 위협을 감지하는 정신 분석적 원인을 제공한다. 한편 청소년들은 사회와 문화가 요구하는 가치에 대해서도 갈등하게 된다. 현대 사회의 청소년은 아동도 아니고 성인도 아닌 중간 단계로 인식되고 있으며, 이에 따라 상충되고 모순되는 사회적 요구가 증가하는 시기인 것이다.</p>
                <br />
                <p> 이러한 생물학적, 사회 문화적 변화를 겪으며 청소년은 자기 자신에 대한 근본적인 물음을 던지는 동시에 자기 삶에 제시되는 다양한 가능성을 인지하고 탐구하며, 이를 통해 어떻게 살아야 하는지에 대한 통찰을 얻는다. 이러한 의미에서 에릭슨은 청소년기에 ‘내가 누구이고 이 사회에서 나는 어떠한 위치를 가지고 있는가’에 대한 개념인 ‘자아 정체감’이 형성된다고 보았다. 즉 청소년기는 수많은 가능성과 불분명한 역할이라는 ‘역할 혼미’의 위기를 통해 자신의 위치를 찾는 시기라는 것이다.
                자아 정체감 형성은 대개 무의식적으로 이루어지지만 모든 청소년이 이 시기를 자연스럽게 <u>ⓐ넘기는</u> 것은 아니다. 때로는 미래의 가능성에 압도당하고 최종 결정을 내리지 못해 방황하면서 스스로를 찾기 위해 일종의 타임아웃 시기를 갖기도 하는데, 이를 ‘심리적 유예’라고 한다. 이 유예기에 있는 청소년이 변덕스러운 행동을 하는 것은 다양한 맥락에서 자신의 위치를 시험해 보는 능동적인 노력으로 볼 수 있다. 그런가 하면 끝내 자신의 존재와 자기가 추구할 가치에 대한 확신이 서지 않으면 심각한 정체감 위기에 부딪혀 큰 고통을 느끼거나 부정적 정체감을 형성해 버리기도 한다.</p>
                <br />
                <p> 한편 에릭슨의 이론을 발전시킨 마샤(Marcia)는 ‘위기’와 ‘관여’의 여부에 따라 정체감의 지위를4단계로 나누었다. 여기서 ‘위기’란 자신의 정체성과 지향을 고민하면서 스스로 탐색하고자 하는 시도가 있었는지를 의미하며, ‘관여’란 정체성과 지향을 위해 실제로 행동을 취하면서 노력하여 뭔가를 이루었는가를 말한다.</p>
                <br />
                <p> 첫째, 위기와 관여 모두 없는 경우를 ‘혼미’라고 한다. 이는 정체성에 대해 생각해 보지 않았거나 정체성 문제를 해결하지 못하여 삶의 방향을 계획조차 할 수 없는 상태를 가리킨다. 둘째, 위기는 없고 관여만 있으면 <u>㉠’유실’</u>이라고 한다. 얼핏 정체감과 삶의 방향이 확립된듯 보이지만, 사실은 그 방향이 자신에게 맞는지, 정말 자신이 원한 길인지 등에 대한 고려 없이 관여가 일어난 상태로, 쉽게 권위에 복종하거나 동조하여 자아 정체감을 형성해 버리는 경우에 해당한다. 셋째, 위기는 있지만 관여가 없으면 <u>㉡’유예’</u>라고 하는데, 이는 삶에 대해 끝없이 고민하고 질문하지만 관여를 하지 못해 아직 정체감을 확립하지 못한 상태이다. 끝으로, 위기와 관여 모두 있는 경우를 <u>㉢’성취’</u>라고 한다. 이는 정체성 탐색을 위한 적극적 노력의 과정을 거친 다음 특별한 목표, 신념, 가치에 사적인 의미를 부여하게 됨으로써 자신에게 적절한 정체성 요소들에 적절하게 관여를 하고 있는 상태를 의미한다. 이 상태에 있는 청소년은 자아 존중감이 높고 생활이 안정되어 있으며 스트레스에 대한 저항력도 높다.</p>
                <br />
                <p> 물론 청소년기에 확립된 자아 정체감은 형성된 그대로 변하지 않는 것은 아니다. 성인이 된 후에도 새로운 도전과 상황들에 반응하여 탐색이 자활성화되기도 하는 것이다. 결과적으로 성인들도 변화된 정체감에 다시 진입할 때까지 유예와 성취의 단계가 반복되는 ‘유예-성취-유예-성취’ 사이클을 형성하게 된다.</p>

				</div>

      			<div>
      				<p><b>1. 윗글의 표제와 부제로 가장 적절한 것은?</b></p>
      				<div class="radio">
                      <label>
                        <input type="radio" name="answer_a3_1" id="optionsRadios1" value="option1">
                        ① 청소년들의 심리적 특성<br/>- 에릭슨의 발달 단계 이론을 중심으로
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="answer_a3_1" id="optionsRadios2" value="option2">
                        ② 청소년기이 자아 정체감 형성<br/>- 에릭슨과 마샤의 이론을 중심으로
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="answer_a3_1" id="optionsRadios3" value="option3">
                        ③ 삶의 가능성 탐색과 자아 정체감<br/>- 청소년과 성인 간 비교를 중심으로
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="answer_a3_1" id="optionsRadios3" value="option3">
                        ④ 생물학적 변화와 자아 정체감의 관계<br/>- 청소년기의 성적 발달을 중심으로
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="answer_a3_1" id="optionsRadios3" value="option3">
                        ⑤ 정체감 지위 단계에 관한 마샤의 관점<br/>- 위기와 관여의 개념을 중심으로
                      </label>
                    </div>
					
                    <br />

					<p><b>2. 윗글을 통해 알 수 있는 내용으로 적절하지 <u>않은</u> 것은?</b></p>
					<div class="radio">
                      <label>
                        <input type="radio" name="answer_a3_2" id="optionsRadios1" value="option1">
                        ① 때로 청소년은 서로 배치되는 사회적 요구들에 직면하기도 한다.
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="answer_a3_2" id="optionsRadios2" value="option2">
                        ② 개인의 자아 정체감은 청소년기에 완성되어 불변하는 특성을 지닌다.
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="answer_a3_2" id="optionsRadios3" value="option3">
                        ③ 자신의 정체성을 탐구하는 청소년의 행동은 일관성이 부족할 때도 있다.
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="answer_a3_2" id="optionsRadios3" value="option3">
                        ④ 자아 정체감은 자신에게 부여되는 지위나 역할에 대한 인식과 관계가 있다.
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="answer_a3_2" id="optionsRadios3" value="option3">
                        ⑤ 자기 존재와 가치 지향에 대한 확신이 부족할 때 청소년은 심리적 고통을 느낀다.
                      </label>
                    </div>
					
                    <button type="button" class="btn btn-primary" onclick="location.href='{{ next_page }}'">제출하기</button>

      			</div>

      		</div>
      	</div>

      	<p>
		    <button type="button" class="btn btn-default" onclick="mySwipe.prev()">이전</button>
		    <button type="button" class="btn btn-default" onclick="mySwipe.next()">다음</button>
		</p>
	</div>
</div>


{% endblock %}

{% block extra_footers %}
    <link href="{{ url_for('static', filename='swipe_style.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='Swipe/swipe.js') }}"></script>
    <script type="text/javascript">
    window.mySwipe = new Swipe(document.getElementById('slider'), {
      startSlide: 0,
      speed: 400,
      continuous: false,
      disableScroll: false,
      stopPropagation: false,
      callback: function(index, elem) {},
      transitionEnd: function(index, elem) {}
    });
    </script>

{% endblock %}
