{% extends 'base.html' %}

{% block content %}

<div class="panel panel-default">
    <div class="panel-body">
        
        <h1>B-3</h1>

        <div id='slider' class='swipe'>
            <div class='swipe-wrap'>

                <div> 
                    <p>1/6</p>
                    <br />
                    <p>근대 사진과 현대 사진은 ‘읽는 사진’과 ‘느끼는 사진’이라는 말로 그 성격을 간명히 규정할 수 있다. 근대 사진은 문학성과 결합하면서 논리적 체계를 따랐기 때문에 그 의미를 읽어 낼 수가 있었다. 그러나 영상의 시각성에 충실한 현대 사진은 감각적으로 느낄 수 있을 뿐, 논리적 사고나 추리로는 이해할 수가 없다. 현대 사진은 이렇게 시각을 통해서만 뜻이 전달되기 때문에 ‘시각적 의미’이며, 느낌으로밖에 접근할 수 없기 때문에 ‘느끼는 사진’인 것이다.</p>
                </div>
                <div>
                    <p>2/6</p>
                    <br />
                    <p>근대 사진이라고 해서 시각성이 무시되었다는 것은 아니다. 사진이 시각 예술인 이상 시각이 전달 수단의 모든 것이었지만 근대 사진의 시각성은 언어로도 표현 가능한 내용을 구체적으로 제시하기 위한 수단이었다. 그런 사진은 말로 설명할 수 있고, 들어서 이해할 수 있었다. 무엇보다 사람들의 생활을 다른 사람들에게 이해시키고 호소하기 위한 것이 주목적이었기 때문에 여러 사람의 이해를 구하기 위해서라도 난해할 수가 없었다. 이런 경우도 ‘시각적 의미’의 범주에 든다고 할 수는 있다.</p>
                </div>
                <div>
                    <p>3/6</p>
                    <br />
                    <p>그러나 현대 사진에서 말하는 ‘시각적 의미’는 좀 더 심화된 의미, 다시 말해서 언어 밖의 세계를 감지해서 전달하기 위한 유일한 신경체계로서의 ‘시각성’을 뜻한다. 이 ‘시각성’이란 무엇을 의미하는가? 첫째, 말로 표현할 수 없는 독특한 상황 또는 분위기를 뜻한다. 여기에는 상황 자체가 비상식적이거나 이질적인 사물들의 조합에서 오는 시각적 불안이나 신비를 포함하기도 한다. 이는 현실에 존재하는 사물의 조합이면서도 그 조합이 작가의 상상이나 주관에 의해 자의적으로 얽혀 있어 상식과 현실 감각으로는 이해할 수 없다.</p>
                </div>
                <div>
                    <p>4/6</p>
                    <br />
                    <p>둘째, 비현실적인 시공간의 추상적 상황을 뜻한다. 현실이란 연속된 시간과 공간 안에서 지속적으로 이루어지는 상황, 곧 변화를 일컫는 말이다. 그러한 연속적 시공간이 사진으로 정착될 때는 어쩔 수 없이 어느 특정한 시공간만이 분리되어 현실성을 상실한다. 과거에는 이미지에 현실성을 집어넣기 위해 고심했지만 현대 사진은 비현실성을 적극적으로 수용한다.</p>
                </div>
                <div>
                    <p>5/6</p>
                    <br />
                    <p>셋째, 사진에서 흔히 볼 수 있는 조형미도 ‘시각적 의미’의 중요 목록 중 하나이다. 조형적 사진은 과거의 사진에서도 흔히 볼 수 있었지만 그낻 사진의 조형성이 객관적이고 형태적이었다면 현대 사진은 주관적이로 심리적이다. 과거의 조형이 실제 사물에 대한 시각적 반응으로 자연의 조형미를 그대로 취한 것이었다면 현대 사진은 주관적 정감 표현을 위한 인위적 구성이라 할 수 있다.</p>
                </div>
                <div>
                    <p>6/6</p>
                    <br />
                    <p>결론적으로 말해서 ‘시각적 의미’란 사물이 본래 의미에서 해체되어 일정한 프레임 안에서 재구성됨으로써 새로 탄생한 시각적 이미지를 가리키는 말이다. 그리고 현대 사진에서 ‘시각적 의미’가 부각되고 있는 것은 그것이 사진 발명 이래 하나의 커다란 과제로 이어져 있기 때문이라고 할 수 있다. 현실적 사물에 묶여 형태를 벗어날 수 없는 사진이 찾아낸 추상으로의 넓은 길. 작가의 본능이 원형질 그대로 잠겨 있는 추상의 깊은 바다로의 잠수. ‘시각적 의미’를 찾는 참된 의미가 여기에 있다.</p>
                </div>

                <div>
                    <p><b>1. 윗글의 내용과 일치하지 <u>않는</u> 것은?</b></p>
                    <div class="radio">
                      <label>
                        <input type="radio" name="answer_a1_1" id="optionsRadios1" value="option1">
                        ① 근대 사진은 문학성이 있어 언어로 표현할 수 있다.
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="answer_a1_1" id="optionsRadios2" value="option2">
                        ② 근대 사진은 인간의 생활을 주로 표현하고자 하였다.
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="answer_a1_1" id="optionsRadios3" value="option3">
                        ③ 사진이 발명된 이후 추상성 획득이 주요한 과제였다.
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="answer_a1_1" id="optionsRadios3" value="option3">
                        ④ 현대 사진은 문학성보다 영상의 시각성에 충실하다.
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="answer_a1_1" id="optionsRadios3" value="option3">
                        ⑤ 현대 사진은 사물에 대한 합리적인 접근을 중시한다. 
                      </label>
                    </div>
                    
                    <br />

                    <p><b>2. 윗글의 ‘시각적 의미’에 대해 이해한 것으로 적절한 것은?</b></p>
                    <div class="radio">
                      <label>
                        <input type="radio" name="answer_a1_2" id="optionsRadios1" value="option1">
                        ① 감각적 수용보다 논리적 사고를 전제로 한다.
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="answer_a1_2" id="optionsRadios2" value="option2">
                        ② 이미지를 통해 사물의 본래 의미를 추구한다.
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="answer_a1_2" id="optionsRadios3" value="option3">
                        ③ 작가의 주관적 감정과 본능을 표현하고자 한다.
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="answer_a1_2" id="optionsRadios3" value="option3">
                        ④ 현실이 변화하는 양상을 프레임에 담고자 한다.
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="answer_a1_2" id="optionsRadios3" value="option3">
                        ⑤ 언어를 더욱 구체화하기 위한 시각적 이미지이다.
                      </label>
                    </div>
                    
                    <button type="button" class="btn btn-primary" onclick="location.href='/exp1/outro'">제출하기</button>

                </div>

            </div>
        </div>

        <p>
            <button type="button" class="btn btn-default" onclick="mySwipe.prev()">이전</button>
            <button type="button" class="btn btn-default" onclick="mySwipe.next()">다음</button>
        </p>
    </div>
</div>


{% endblock %}

{% block extra_footers %}
    <link href="{{ url_for('static', filename='swipe_style.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='Swipe/swipe.js') }}"></script>
    <script type="text/javascript">
    window.mySwipe = new Swipe(document.getElementById('slider'), {
      startSlide: 0,
      speed: 400,
      continuous: false,
      disableScroll: false,
      stopPropagation: false,
      callback: function(index, elem) {},
      transitionEnd: function(index, elem) {}
    });
    </script>

{% endblock %}
