{% extends 'base.html' %}

{% block content %}

<h1>실험2</h1>
<div class="panel panel-default">
	<div class="panel-body">
		<p>지금부터 본격적인 실험이 시작됩니다</p> 
		<p>실험1에서는 총 6개의 지문을 읽고<br />12개의 문제(1지문 당 2개의 문제)를 풀게 됩니다</p>
		<p>먼저 3개의 지문이 <b>페이지</b> 모드로 제시되며<br />약간의 휴식 후 3개의 지문이 <b>스크롤</b> 모드로 제시됩니다</p>
		<p>문제 풀이 후 간단한 설문까지 마치셔야 실험이 완료됩니다</p>
		<p><b>시작하기</b> 버튼을 누르면 실험이 시작됩니다.</p>
		<br />
		<p>
			<button type="button" class="btn btn-primary" onclick="location.href='exp_2'">시작하기</button>
		</p>
	</div>
</div>


{% endblock %}