{% extends 'base.html' %}

{% block content %}

<div class="panel panel-default">
	<div class="panel-body">

		<p>실험{{ test_no }}에 할당된 모든 문제를 다 푸셨습니다.</p> 
		<p>간단한 설문에 응답하시면 실험이 완료됩니다.</p>
		<p><b>설문하기</b> 버튼을 눌러 설문에 응해주세요.</p>
		
		<br />
		<p>
			{# <button type="button" class="btn btn-primary" onclick="location.href='{{ url_for('survey', test_no=test_no) }}'">설문하기</button> #}
			<a class="btn btn-primary" href="{{ url_for('survey', test_no=test_no) }}" role="button">설문하기</a>
		</p>
	</div>
</div>


{% endblock %}