{% extends 'base.html' %}

{% block content %}

	<div class="panel panel-default">
		<div class="panel-body">
			<p>실험을 시작하기 전에 연습문제를 진행해 주세요</p>
			
			<hr />

			<p><button type="button" class="btn btn-info btn-lg" onclick="location.href='practice'">연습문제</button></p>
		</div>
	</div>
	
    <hr />

    <div class="panel panel-default">
		<div class="panel-body">
			<p>연습문제를 완료하셨다면 실험을 시작해 주세요</p>
			<br />
		    <p><button type="button" class="btn btn-default btn-lg" onclick="location.href='exp1/intro'">실험1</button></p>
		    <p><button type="button" class="btn btn-default btn-lg" onclick="location.href='exp2/intro'">실험2</button></p>
		    <p>
		    	<button type="button" class="btn btn-default btn-lg" onclick="location.href='{{ url_for('exp3_intro') }}'">실험3</button>
		    </p>
		    <p>
		    	<button type="button" class="btn btn-default btn-lg" onclick="location.href='{{ url_for('exp4_intro') }}'">실험4</button>
		    </p>
		</div>
	</div>
{% endblock %}