{% extends 'base.html' %}

{% block content %}

<h1>연습 2</h1>

<div class="panel panel-default">
	<div class="panel-body">
		<p> 우리나라의 대표적 민속 전통 연희인 탈놀이는 ‘제의’에서 ‘놀이’로 그 성격이 점차 변화, 확장됐다고 볼 수 있는데, 이를 이해하기 위해서는 탈놀이 연행자가 얼굴에 쓰는 탈의 의미와 기능을 살펴볼 필요가 있다. </p>
		<p>‘탈’의 어원은 우리가 ‘훗날 탈이라도 날까 두렵다.’고 할 때의 탈, 즉 뜻밖에 일어나는 걱정할 만한 사고를 의미하는 말이다. 그러므로 탈놀이의 탈은 피하고 싶은 어떤 재앙과 관련된 가면이었던 셈인데, 이는 비단 우리의 경우만이 아닌 듯하다. 탈(가면)을 의미하는 영어 mask, 프랑스 어 masque, 이탈리아 어 maschera 등이 모두 ‘마귀’라는 뜻의 Hexe를 어원으로 하는 중세 라틴어 masca에서 비롯되었기 때문이다. 이처럼 탈의 어원을 따져 보면 애초에 탈놀이는 탈로써 탈을 물리치려는 벽사의식이었다고 할 수 있다. 예를 들어 하회 별신굿 탈놀이가 원래 신탁에 의해서만 임시로 공연되었다는 사실도 이와 관련이 있다. </p>
	 	<p>탈의 형태나 표정, 색채 등을 통해 인물의 유형과 범주를 표현하기도 한다. 하회탈 중에서 턱을 따로 노끈으로 매달아 움직일 수 있게한 절악 형태인 것들은 입이 크게 뚫려 대사 전달이 용이하다는 이점이 있다. 그런데 할미를 제외한 여성이나, 초랭이 같은 하인 신분의 탈은 절악이 아니다. 이는 당시 사회적 발언권이 대체로 양반 남성 들에게 국한되어 있었음을 대변하는 형태적 특성이라고 볼 수 있다. 또 고상한 성격의 인물이 온화하고 밝은 표정을 띤다든지, 촐싹대며 가벼운 행동을 하는 인물이 우스꽝스러운 표정을 띠는 것도 인물의 유형화가 탈에 반영된 것이다.</p>
	</div>
</div>

<p>
	<button type="button" class="btn btn-default" onclick="location.href='practice02-2'">문제풀기</button>
</p>
<br />
<br />
{% endblock %}