{% extends 'base.html' %}

{% block content %}

<div class="panel panel-default">
  	<div class="panel-body">
  		<div id='slider' class='swipe'>
      		<div class='swipe-wrap'>
      		</div>
      	</div>
	</div>
</div>

{% endblock %}

{% block extra_footers %}
    <link href="{{ url_for('static', filename='swipe_style.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='Swipe/swipe.js') }}"></script>
    <script type="text/javascript">
    window.mySwipe = new Swipe(document.getElementById('slider'), {
      startSlide: 0,
      speed: 400,
      continuous: false,
      disableScroll: false,
      stopPropagation: false,
      callback: function(index, elem) {},
      transitionEnd: function(index, elem) {}
    });
    </script>

{% endblock %}
